<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-80 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-md-4 mt-5 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h6 class="mb-0">CaseId</h6>
                        </div>
                        <div class="card-body">
                            <form class="case-form" role="case-form" autocomplete="off" novalidate="" method="POST">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="col-md-10">
                                            <input type="text" class="form-control rounded" name="caseid">
                                        </div>
                                        <div class="col-md-2">
                                        <button class="button but-go"><a routerLink="/cdax" > Go! </a></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->