<app-header></app-header>

<div class="container-fluid">
    <div class="col-md-12 min-vh-80 d-flex flex-column justify-content-center main-cdax">
        <div class="row">
            <div class="col-md-2 mt-2 mx-auto">
                <span class="casid">Case ID:</span>
                0000000001
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h6 class="in-out-header">-Input extracted-</h6>
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h6>CDAX Details</h6>
                        </div>
                        <p class="card-text">Some example set json data in table.</p>
                    </div>
                </div>
                <button class="btn btn-primary generate-but"> Generate Issue Paths </button>
            </div>
            <div class="col-md-2 right-curly-bracket">
                <!-- } -->
                &nbsp;
            </div>
            <div class="col-md-5">
                <h6 class="in-out-header">-Output generated-</h6>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">&nbsp;</h4>
                        <p class="card-text">&nbsp;</p>

                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/row-->
</div>
<!--/container-->